.todo-list__search{
    margin-bottom: 16px;
}

.todo-list__sort, .todo-list__filters{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 16px;
}

.todo-list__form {
    display: flex;
}

.todo-list__input {
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 20px;
    box-sizing: content-box;
    width: 100%;
}

.todo-list__button {
    border-radius: 4px;
    height: 20px;
    outline: none;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.todo-list__button--delete {
    width: 20px;
    color: white;
    background-color: #c0392b;
}

.todo-list__button--sort, .todo-list__button--filter {
    width: 30%;
}

.todo-list__button--sort-active, .todo-list__button--filter-active {
    background-color: rgba(0, 0, 0, 0.25);
}

.todo-list__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.todo-list__button--delete:hover {
    background-color: #e74c3c;
}

.todo-list__list-item {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}

.todo-list__list-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.todo-list__list-item--completed .todo-list__list-item-text-container {
    text-decoration: line-through;
}